# Logs
logs
*.log
npm-debug.log*

# Dependencias
node_modules
dist
dist-ssr
*.local

# Variables de entorno (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store